.menu {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.menu label {
    margin: 20px;
    display: block;
    font-size: 12px;
    font-weight: bold;
    font-family: Lato, Arial, Tahoma Helvetica, sans-serif;
    text-transform: uppercase;
}

/* Menu */

ul.menu {
    position: absolute;
    list-style-type: none;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
    width: 150px;
    border: 1px solid rgba(0, 0, 0, .15);
    top: 0;
    left: 0;
    text-decoration: none;
}

ul.menu li.title {
    padding: 5px 10px;
    font-size: 11px;
    color: rgba(0, 0, 0, .5);
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    background: linear-gradient(to bottom, #ededed 0%, #dedede 100%);
    text-decoration: none;
}

ul.menu li {
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    margin: 0;
    cursor: pointer;
    position: relative;
    transition: background-color .25s;
    font-size: 12px;
    font-family: Lato, Arial, Tahoma Helvetica, sans-serif;
    overflow: hidden;
    text-decoration: none;
}

ul.menu li img {
    float: left;
    overflow: hidden;
    width: 20px;
    opacity: .5;
    margin: 6px;
    transition: opacity .25s;
    text-decoration: none;
}

ul.menu li:last-of-type {
    border-bottom: 0;
    text-decoration: none;
}

ul.menu li a {
    padding: 8px 12px 0 35px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: dimgrey;
    transition: color .25s;
    text-decoration: none;
    font-family: Arial Bold;
    text-decoration: none;
}

ul.menu li:hover a {
    color: lightskyblue;
}

ul.menu li:hover img {
    opacity: 1;
    text-decoration: none;
}