<ul class="menu">
    <li class="title">Tasks</li>
    <li ng-repeat="task in tasks">
        <img src="static/menu/images/{{task.img}}"/>
        <a href="#" ng-click="launch('taskDialog',task,false,id)">{{task.name}}</a>
    </li>
</ul>