table.test tr:hover {
    cursor: pointer;
}

thead {
    cursor: pointer;
}

table {
    text-align: center;
    cursor: pointer;
}

/* The starting CSS styles for the enter animation */
.fade1.ng-enter {
    transition: 2s linear all;
    background-color: lightgreen;
    opacity: 1;
}

/* The finishing CSS styles for the enter animation */
.fade1.ng-enter.ng-enter-active {
    background-color: #f3f3f3;
    opacity: 1;
}

.fade1.ng-leave {
    transition: 1s linear all;
    background-color: #FF6F79;
    opacity: 1;
}

.fade1.ng-leave.ng-leave-active {
    opacity: 0;
}

tr {
    background-color: #f3f3f3;
}

