<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <label for="izi" hidden="hidden">Main page</label><a class="navbar-brand" id="izi" href="/">MetaNet C&C</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li><label for="about" hidden="hidden">Online</label><a id="about" href="{{url_for('index')}}"
                                                                       style="color: #6a6a6a">Online bots</a>
                </li>

                <li><label for="contact" hidden="hidden">Offline</label><a id="contact" href="offline"
                                                                           style="color:#6a6a6a">Offline bots</a>
                </li>
                <li><label for="task" hidden="hidden">Task results</label><a id="task" href="{{url_for('results')}}"
                                                                             style="color:#6a6a6a">Task results</a>
                </li>
            </ul>

        </div>
    </div>
</div>
<br><br><br>