<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="static/dialogs.min.css" rel="stylesheet" type="text/css"/>


    <link href="static/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="static/socket.css" rel="stylesheet" type="text/css"/>


    <link href="static/menu/menu.css" rel="stylesheet" type="text/css"/>

</head>
<body>


<div ng-app="myApp" ng-controller="myCtrl">

<p>The time is:</p>

<h1>{{theTime|angular}}</h1>

</div>

<p>The $interval service runs a function every specified millisecond.</p>
<h1>my name is:{{name}}</h1>



<!--<script src="static/jquery-2.1.4.min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js" type="text/javascript"></script>
<!--<script src="static/angular-1.5.0-rc.0.min.js" type="text/javascript"></script>-->
<!--<script src="static/angular-sanitize.min.js" type="text/javascript"></script>-->
<!--<script src="static/angular-animate.min.js" type="text/javascript"></script>-->


<!--
<script src="static/dialogs.min.js" type="text/javascript"></script>
<script src="static/socket.io-1.3.7.min.js" type="text/javascript"></script>
<script src="static/dialogs.min.js" type="text/javascript"></script>
<script src="static/ng-contextmenu.min.js" type="text/javascript"></script>
<script src="static/ui-bootstrap-tpls-0.14.3.min.js" type="text/javascript"></script>
-->


<script>
    var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $interval) {
  $scope.theTime = new Date().toLocaleTimeString();
    $scope.myhour = function hour() {
      $scope.theTime = new Date().toLocaleTimeString();
  }
  $interval($scope.myhour, 1000);
});
</script>
</body>
</html>

