// DON'T MANUALLY EDIT THIS FILE; run `gulp build-icons` instead.
$context-menu-icons-cachebust: "2z8kr";
$context-menu-icons: (
        add: "",
        copy: "",
        cut: "",
        delete: "",
        edit: "",
        paste: "",
        quit: "",
);