<div class="modal-header"><h4 class="modal-title"><!--<span class="glyphicon glyphicon-star"></span>!-->Result</h4>
</div>
<div class="modal-body">
    {{data}}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="done()">OK</button>
</div>