<div class="modal-header"><h4 class="modal-title"><!--<span class="glyphicon glyphicon-star"></span>!-->
    {{data.task.name}}
    parameters</h4></div>
<div class="modal-body">
    <ng-form name="nameDialog" novalidate role="form">
        <div ng-repeat="param in data.task.parameters" class="form-group input-group-lg-12">

            <label class="control-label" for="{{param}}">{{param}}:</label>
            <input type="text" class="form-control input-sm" name="{{param}}" id="{{param}}" ng-model="params[param]"
                   ng-keyup="hitEnter($event)"
                   ng-class="{true: \'has-error\'}[nameDialog.params[param].$dirty && nameDialog.params[param].$invalid]"
                   required><!--required-->
            <span class="help-block">Booya</span></div>
    </ng-form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="done()"
            ng-disabled="(nameDialog.$dirty && nameDialog.$invalid) || nameDialog.$pristine">Send
    </button>
</div>
